.app {
  background-color: $black;
  display: flex;
  margin-bottom: 120px;
  position: relative;
  height: 300px;

  &__cta {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 317px;
  }

  &-info {
    position: absolute;
    right: 0;
    margin-right: 345px;
    padding-top: 60px;

    &__title {
      font-family: $fontLato;
      font-weight: 900;
      font-size: $fontSizeXL;
      color: $white;
      margin: 0 0 48px;
    }

    &-case {
      &-link {
        border: none;
        background-color: transparent;
        margin-right: 24px;
        outline: none;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}