.sale {
  margin-bottom: 120px;
  
  &-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 340px;
    margin-bottom: 60px;

    &-title {
      font-family: $fontLato;
      font-weight: 900;
      font-size: $fontSizeXXL;
      color: #1E212C;
      margin: 0;
    }

    &-arrows {
      &-btn {
        border: none;
        background-color: transparent;
        outline: none;
        border-radius: 50%;

        &__prev {
          margin-right: 12px;
        }

        &__next {
        }
      }
    }
  }

  &-list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;

    &-items {
      display: flex;
      flex-direction: column;
      width: 390px;
      margin-right: 30px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      &-package {
        position: relative;

        &__product {
        }

        &-rating {
          position: absolute;
          right: 16px;
          top: 16px;

          &__rate {
            left: 0;
          }

          &__stars {
          }
        }

        &-chevron {
          display: flex;
          position: absolute;
          top: 50%;

          &-btn {
            border: none;
            background-color: transparent;
            outline: none;
          }
        }
      }

      &-like {
        position: relative;
        margin-bottom: 16px;

        &__icons {
          right: 16px;
          position: absolute;
          bottom: 16px;
          background: $white;
          padding: 9px 8px;
          border-radius: 50%;
        }
      }

      &-depiction {
        font-family: $fontLato;
        font-weight: 400;
        font-size: 18px;
        color: $lightBlack;
        text-decoration: none;
        margin: 0 0 8px 16px;
      }

      &-price {
        margin: 0 0 16px 16px;

        &__newp {
          font-family: $fontLato;
          font-weight: 700;
          font-size: $fontSizeM;
          color: $red;
          margin-right: 12px;
        }
        &__oldp {
          font-family: $fontLato;
          font-weight: 400;
          font-size: 18px;
          color: #787A80;
          text-decoration: line-through;
        }
      }

      &-block {
        display: flex;
        justify-content: center;
      }

      &-button {
        display: flex;
        margin: 0 16px 16px;
        padding: 10px 130px;
        border: none;
        background-color: $primary;
        border-radius: 4px;

        font-family: $fontLato;
        font-weight: 700;
        font-size: 14px;
        color: $white;

        &__cart {
          margin-right: 8px;
        }
      }
    }
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-open {
      border: 1px solid $primary;
      border-radius: 4px;
      padding: 16px 49px;
      background-color: transparent;
      color: $primary;
      outline: none;
    }
  }
}