.slider {
  background-image: url("./../../assets/images/backound-slider.png");
  padding-top: 140px;
  height: 800px;

  &-buttons {
    padding-left: 345px;
  }

  &__text, &__title {
    padding-left: 345px;
    font-family: $fontLato;
  }

  &__text {
    text-transform: uppercase;
    font-family: $fontLato;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 12px 0;
  }

  &__title {
    font-weight: 900;
    font-size: 72px;
    margin: 0 0 60px 0;
  }

  &-buttons {
    &__left, &__right {
      font-family: $fontLato;
      font-size: $fontSizeXS;
      font-weight: 700;
      color: $primary;
      padding: 15px 40px;
      border: 1px solid $primary;
      border-radius: 4px;
      background: transparent;
      outline: none;

      &:hover {
        color: $white;
        background: $primary;
      }
    }

    &__right {
      margin-left: 24px;
    }
  }

  &-controls {
    display: flex;
    flex-direction: column;

    &-rowG {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 142px;

      &-btn {
        margin-left: 32px;
        margin-right: 32px;
        border-radius: 50%;
        border: none;
        width: 48px;
        height: 48px;
        outline: none;

        &:first-child {
          margin-right: 0;
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }

    &-rowB {
      padding-left: 345px;

      &__date {
        font-family: $fonUbuntu;
        font-size: $fontSizeL;
        font-weight: 700;
        color: $gray;
        border: none;
        border-bottom: 2px solid $gray;
        background: transparent;
        width: 178px;
        text-align: left;
        padding-bottom: 12px;

        &:hover {
          border-bottom: 2px solid $darkGray;
          color: $darkGray;
        }
      }
    }
  }
}