$white: #FFFFFF;
$red: #FF4242;
$success: #03CEA4;
$primary: #17696A;
$orange: #FB8F1D;
$brown: #874E19;
$lightBlue: #C0DDED;
$blue: #0000FFFF;
$lightGray: #D7DADD;
$gray: #9A9CA5;
$darkGray: #7D7987;
$lightBlack: #424551;
$black: #1E212C;
