@import "./variables.scss";
@import "./components/header-container.scss";
@import "./components/offers-container.scss";
@import "components/slider-container.scss";
@import "components/popular-container.scss";
@import "components/ribbon-container.scss";
@import "components/banner-container.scss";
@import "components/category-container.scss";
@import "components/trends-container.scss";
@import "components/sale-container.scss";


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}