@import "./variables.scss";
@import "./components/header-container.scss";
@import "./components/offers-container.scss";
@import "components/slider-container.scss";
@import "components/popular-container.scss";
@import "components/ribbon-container.scss";
@import "components/banner-container.scss";
@import "components/category-container.scss";
@import "components/trends-container.scss";
@import "components/sale-container.scss";
@import "components/app-container.scss";
@import "components/services-container.scss";
@import "components/instagram-container.scss";
@import "components/blog-container.scss";
@import "components/brands-container.scss";
@import "components/subscribe-container.scss";
@import "components/footer-container.scss";
@import "components/megamenu-container.scss";


* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

.main {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}
