$fontSizeXXL: 46px;
$fontSizeXL: 32px;
$fontSizeL: 28px;
$fontSizeM: 24px;
$fontSizeS: 20px;
$fontSizeXS: 16px;

$white: #FFFFFF;
$red: #FF4242;
$success: #03CEA4;
$primary: #17696A;
$orange: #FB8F1D;
$brown: #874E19;
$lightBlue: #C0DDED;
$blue: #0000FFFF;
$lightGray: #D7DADD;
$gray: #9A9CA5;
$darkGray: #7D7987;
$lightBlack: #424551;
$black: #1E212C;

$fontLato: 'Lato', sans-serif;
$fonUbuntu: 'Ubuntu', sans-serif;


